<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Attendance for {{ student.name }}</title>
</head>

<body>
   
    <h1>Attendance for {{ student.name }}</h1>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>class</th>
                <th>Date</th>
                <th>Attendance</th>
                <!-- Add more columns as needed -->
            </tr>
        </thead>
        <tbody>
            {% for attendance in attendances %}
            <tr>
                <td>{{ student.id }}</td>
                <td>{{ student.name }}</td>
                <td>{{ student.class_name }}</td>
                <td>{{ attendance.date }}</td>
                <td>{{ attendance.status }}</td>
                
                
                <!-- Add more columns as needed -->
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
